<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A landscaping and lawncare company that offers affordable and expertly designed services. We offer these in Maquoketa, Dewitt, and surrounding areas. We're local and we care about the businesses we serve.">
  <title>Irish Hill Landscaping and Lawncare services contractor</title>
  <link rel="stylesheet" href="assets/style.css">

  <!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="" class="cs-logo cs-desktop" aria-label="back to home">
        <div class="cs-logo-wrapper">
            <!--Default Logo-->
            <img class="cs-default" src="assets\Pictures\logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
            <!--Dark Mode Logo-->
            <img class="cs-dark" src="assets\Pictures\logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </div>
    </a>
    <div class="cs-middle">
        <!--Top Bar-->
        <div class="cs-top-bar">
            <div class="cs-top-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/youtube1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
            <ul class="cs-location">
                <li class="cs-item cs-remove">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-pin1.svg" alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                        Serving Dewitt, Maquoketa, and surrounding areas
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-clock1.svg" alt="icon" width="20" height="20" aria-hidden="true" decoding="async">
                    M-Sat: 8:00am - 6:00pm
                </li>
            </ul>
        </div>
        <div class="cs-bottom-bar">
            <a href="" class="cs-logo cs-mobile" aria-label="back to home">
                <div class="cs-logo-wrapper">
                    <!--Default Logo-->
                    <img class="cs-default" src="assets\Pictures\logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
                    <!--Dark Mode Logo-->
                    <img class="cs-dark" src="assets\Pictures\logo.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
                </div>
            </a>
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        <li class="cs-li">
                            <a href="index.html" class="cs-li-link cs-active">
                                Home
                            </a>
                        </li>
                        <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                        <li class="cs-li cs-dropdown" tabindex="0">
                            <span class="cs-li-link">
                                Services
                                <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arrow-dwon2.svg" alt="dropdown icon" width="24" height="24" decoding="async" aria-hidden="true">
                            </span>
                            <ul class="cs-drop-ul">
                                <li class="cs-drop-li">
                                    <a href="landscaping.html" class="cs-li-link cs-drop-link">Landscaping</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="lawncare.html" class="cs-li-link cs-drop-link">Lawncare</a>
                                </li>
                                <li class="cs-drop-li">
                                    <a href="snowremoval.html" class="cs-li-link cs-drop-link">Snow Removal</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-li">
                            <a href="about.html" class="cs-li-link">
                                About
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="gallery.html" class="cs-li-link">
                                Gallery
                            </a>
                        </li>
                        <li class="cs-li">
                            <a href="faq.html" class="cs-li-link">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a class="cs-nav-button cs-tablet" href="">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Free Contact </span>
                    <span class="cs-link-content">(319)-551-9322</span>
                </div>
            </a>
            <a href="" class="cs-button-border">
                Get In Touch
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/up-right-arrow.svg" alt="icon" width="20" height="20">
            </a>
            <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
            <button id="dark-mode-toggle" aria-label="dark mode toggle">
                <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
                <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon" width="15" height="15">
            </button>
        </div>
    </div>
    <div class="cs-contact-wrapper">
        <a class="cs-desktop-button" href="">
            <picture class="cs-wrapper">
                <img class="cs-button-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/red-phone1.svg" alt="icon" width="24" height="24">
            </picture>
            <div class="cs-info">
                <span class="cs-header">Free Contact</span>
                <span class="cs-link-content">(319)-551-9322</span>
            </div>
        </a>
    </div>
</header>
                                
</head>
<body>
 <section id="hero-1617">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z" fill="var(--chevronColor)"/>
                    </g>
                </svg>
                Enjoy your lawn and landscape
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z" fill="var(--chevronColor)"/>
                    <path d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z" fill="var(--chevronColor)"/>
                    </g>
                </svg>
            </span>
            <h1 class="cs-title">
                Elevate Your Yard with our 20 years of experience</h1>
            <a href="landscaping.html" class="cs-button-solid">Get Started</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets\Pictures\frontpage-m.jpg">
        <source media="(min-width: 601px)" srcset="assets\Pictures\iStock-538581158.jpg">
        <img loading="lazy" decoding="async" src="assets\Pictures\iStock-538581158.jpg" alt="stone walkway" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-967">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What We Provide To Our Customers</h2>
            <p class="cs-text">
                Created by us and inspired by you. We turn idea into reality. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Lawncare</h3>
                <p class="cs-item-text">
                    Our lawn care services provide dependable maintenance to keep your yard clean and healthy while maintaining its well-kept appearance. Our team takes care of all lawn details including regular mowing and edging and cleanups so you can avoid any responsibilities.
                </p>
                <a href="lawncare.html" class="cs-link">Read More about our lawncare services</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="assets\Pictures\iStock-1287642003.jpg" alt="mowed lawn" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Landscaping</h3>
                <p class="cs-item-text">
                    Our landscaping services provide outdoor space enhancement through clean natural design elements. Our team will work with your vision and budget to create a solution that matches your needs whether you need new plantings or mulch or a complete redesign.
                </p>
                <a href="landscaping.html" class="cs-link">Read More about our landscaping services</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="assets\Pictures\iStock-538581158.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
            <!--EMOJI images-->
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trees-white.svg" alt="hair cut" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Snow Removal</h3>
                <p class="cs-item-text">
                    Our team ensures that your driveway and walkways and parking areas remain clear and safe during snowfall. Our quick and reliable snow removal service protects you from accidents and delays and other problems so you can continue your activities without interruption.
                </p>
                <a href="snowremoval.html" class="cs-link">Read More about our snow removal contracting</a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="assets\Pictures\snow2.jpg" alt="hair cut" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>
  <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Lawncare and Landscaping</span>
            <h2 class="cs-title">Landscaping and Lawncare in Eastern Iowa, USA</h2>
            <p class="cs-text">
                Here's our gallery. If you're a customer and would like to showcase your project please get in touch.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery1.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery1.jpg">
                    <img loading="lazy" decoding="async" src="assets\Pictures\gallery1.jpg" alt="Showing a professional building of a garden bed" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery2.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery2.jpg">
                    <img loading="lazy" decoding="async" src="assets\Pictures\gallery2.jpg" alt="A beautiful mulch bed with flowers and a rock wall" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery3.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery3.jpg" alt="retaining wall" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery4.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery4.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery4.jpg" alt="lawn and yard" width="346" height="346">
                </picture>
            </li>
            <!-- Image 5 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery5.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery5.jpg" alt="house with shrubs" width="346" height="346">
                </picture>
            </li>
            <!-- Image 6 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery6.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery6.jpg" alt="pathway with trees and shrubs" width="346" height="346">
                </picture>
            </li>
            <!-- Image 7 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery7.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery7.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery7.jpg" alt="well maintained yard with trees in background" width="346" height="346">
                </picture>
            </li>
            <!-- Image 8 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="assets\Pictures\gallery8.jpg">
                    <source media="(min-width: 601px)" srcset="assets\Pictures\gallery8.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\gallery8.jpg" alt="business with trees and mowed exterior" width="346" height="346">
                </picture>
            </li>
        </ul>
        <a href="gallery.html" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>
                                                              
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1023">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stats</span>
            <h2 class="cs-title">Lawncare and Landscaping Stats & Numbers</h2>
            <p class="cs-text">
                We take pride in the work we do and the time we spend transforming people's yards. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">500+</span>
                <span class="cs-desc">Projects</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">20+</span>
                <span class="cs-desc">Years open</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5.0</span>
                <span class="cs-desc">Google Rating</span>
            </li>
        </ul>
    </div>
</section>
 <!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-2354">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Say About Irish Hill</h2>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-featured">“They did an amazing job for us”</span>
                <p class="cs-item-text">
                    Irish Hill transformed our land into a masterpiece. Their attention to detail and innovative design approach brought our vision to life in ways we never imagined.
                </p>
                <div class="cs-info">
                    <picture class="cs-profile-wrapper">
                        <img class="cs-profile" loading="lazy" decoding="async" src="assets/Pictures/Sprofilepic.png" alt="person" width="52" height="52">
                    </picture>
                    <span class="cs-name">
                        Sasha Durant
                        <span class="cs-desc">Owner of Quimby's LLC</span>
                    </span>
                </div>
                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/quote-orange.svg" alt="quote" width="86" height="69">
            </li>
            <li class="cs-item">
                <span class="cs-featured">“Irish Hill was fast and made everything look so much better”</span>
                <p class="cs-item-text">
                    We got a lot of comments on the project and it really livens up our house. We couldn't be happier. 
                </p>
                <div class="cs-info">
                    <picture class="cs-profile-wrapper">
                        <img class="cs-profile" loading="lazy" decoding="async" src="assets/Pictures/Tprofilepic.png" alt="person" width="52" height="52">
                    </picture>
                    <span class="cs-name">
                        Tate Keaton
                        <span class="cs-desc"></span>
                    </span>
                </div>
                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/quote-orange.svg" alt="quote" width="86" height="69">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets\Pictures\background1-m.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets\Pictures\background1.jpg">
                    <img loading="lazy" decoding="async" src="assets\Pictures\background1.jpg" alt="building" width="955" height="636">
                </picture>
            </li>
        </ul>
    </div>
</section>
 <!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Schedule a meeting with us</h2>
            <a href="tel:3195519322" class="cs-button-solid">Call (319) 551-9322</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Mon-Sat: 8am-6pm<br>
            </p>
            <p class="cs-p">
            We're happy to help. We're fully insured and excited to begin your project. 
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="assets\Pictures\background2-m.jpg">
            <source media="(min-width: 601px)" srcset="assets\Pictures\background2.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\background2.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
                                                                                             


<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="index.html">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="assets\Pictures\logo.png" alt="logo" width="178" height="32">
            </a>
            <p class="cs-text">
                Irish Hill is a professional landscaping and lawncare company that serves Dewitt, Maquoketa, Delmar, and surrounding areas. They've been in the lawn and landscape business for over 20 years. They prioritize communication and landscapes that impress.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="about.html">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="index.html">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="faq.html">FAQ</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="landscaping.html">Landscaping</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="lawncare.html">Lawncare</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="snowremoval.html">Snow Removal</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-stroke.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel: 319-551-9322">(319) 551-9322</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/email-stroke.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:info@codestitch.com">krbennis@yahoo.com</a>
            </li>
            
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">© Copyright 2025 - <a class="cs-copyright-link" href="index.html">Irish Hill</a></span>
    </div>
</footer>
      <script src="assets/navigation.js"></script>                          
</body>
</html>